@charset="utf-8";

body{
	background-color: whitesmoke;
}

.barra-preta{
	background-color: rgb(230, 117, 24);
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
  	right: 0;

}

#menu{
	list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu ul{
	list-style: none; 
	list-transform: uppercase; 
 	position: absolute; 
 	top: 0px;
	text-decoration: none; 
}

#menu li{
	display: inline-block; 
	background-color: black; 
	padding: 10px; 
	margin: 5px;
	text-decoration: none;
}

#menu li:hover{
	background-color: blue;
}

#menu a{
	text-decoration: none;
	color: white;

}

.bloco{
	width: 100%; 
    top: 20px;
    margin-top: 120px;
}

.bloco1{
	width: 100%; 
    top: 20px;
    margin-top: 300px;
}

.bloco2{
	width: 100%; 
    top: 20px;
    margin-top: 300px;
}


.blocoimg{
	width: 100%; 
    top: 20px;
    margin-top: 50px;
}

h1{
	margin: 30px;
	font-size: 40px;
	text-shadow: 2px 2px 5px black;
	text-align: center;
}

h2{

	font-size: 30px;
	text-align: center;
}

p{
	font-size: 25px;
	text-align: justify;
	text-align: center;
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-indent: 20px;
}

.p1{
	font-size: 25px;
	text-align: justify;
	margin-left: 3em;
	margin-right: 3em;
	text-indent: 20px;

}

p{
	font-size: 25px;
	text-align: justify;
	text-align: center;
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-indent: 20px;
	margin-top: 200x;
}

.img1{
	float: right;
	width: 12em;
	height: 12em;
	display: block;
    margin-right: 3.5em;
    margin-left: 0 auto;
	border: solid 2px white;

}

.img11{
	float: left;
	width: 15%;
	display: inline-block;
    vertical-align: middle;
    margin-right: 3em;
    margin-top: 70px;
	border: solid 2px white;    
}

.img2{
	float: right;
	width: 35%;
	display: inline-block;
    vertical-align: middle;
    margin-right: 3em;
    margin-top: 130px;
   	border: solid 2px white;
}


footer {
  	background-color: black;
  	color: white;
  	padding: 10px;
  	text-align: center;
  	font-weight: bold;
	font-size: 20px;
}

.barra-preta1 {
	max-width: 960px;
	margin: 0 auto;
}

body, footer {
  margin: 0;
}